@model SportStoreDomain.Entities.ShippingDetails

@{
    ViewBag.Title = "Sport Store-Dispatch";
}

<h2>Please give your credentials and We will dispatch our products as soon as possible!</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Dispatch for:</h3>
 <div>Name and Surname: @Html.EditorFor(x=>x.Name)</div>
 <h3>Adress</h3>
 <div> Line 1: @Html.EditorFor(x=>x.Line1)</div>
 <div>City: @Html.EditorFor(x=>x.City)</div>
 <div>Region: @Html.EditorFor(x=>x.State)</div>
 <div>Country: @Html.EditorFor(x=>x.Country)</div>

 <h3>Options</h3>
 <label>
     @Html.EditorFor(x=>x.GiftWrap)
     Wrap your gift

 </label>

 <p align="center"><input type="submit" value="End order"/></p>
}

